body {
  background-color: #F9F9F9;
}
h1 {
  font-family: "Montserrat";
  font-weight:normal;
}
header {
    background-color: #395B64;
    width: 100%;
    position:fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}
.heading{
  padding-top: 80px;

}

.logo{

  text-decoration: none;
  text-transform: uppercase;
  color:#fff;
  font-size: 1.1em;
  font-weight: 900;
}
header a:hover{
  color:black;
  transform: scale(1.2);
transition:0.5s;
}
/* .logo:hover{
  color:white;
  transform: scale(1.2);
transition:1s;
} */
.navigation a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.column{
  padding:150px 20px 0 20px;
}
.row{
  justify-content:center;
  align-items: center;
}
.card-img-top{
  width: 100%;
}
.cards-box{
  display: flex;
}

.contactus{
  font-family: "Montserrat";
  font-weight:normal;
  margin:30px 0 0 20px;
}
.contactusP{
  font-family: "Montserrat";
  font-weight:400;
  margin:30px 0 0 20px;
}
.servicesH3 {
  text-align: center;
  font-family: "Montserrat";
  font-weight:normal;
  margin-bottom: 20px;

}
.logos{
  width: 20%;

}

.about {
  font-family: "Montserrat";
padding: 10px 10px;
}

.intro{
  padding: 0.5rem 1.5rem 1.5rem;
}
.item{
  padding: 0 20px 0 0;
}
.servicesHeading{
  /* padding: 0 0 0px 15px; */
  width:90%
}

.Services{
  margin:2rem;
  text-align: left;
  line-height: 2;
  padding-bottom: 80px;
}
.buttonHover:hover{
  transform: scale(1.2);
  transition: 1s;
}
.contact{
  padding-top: 5em;
}

.serviceDiv{
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
}
.constructionPic{
border-radius: 10%;
  width: 20%;
  height: auto;
  float: left;
  margin-right: 30px;
  margin-top:  100px;
}
.fineFinshingPic{
border-radius: 10%;
  width: 20%;
  height: auto;
  float: right;
  margin-left: 30px;
    margin-top:  100px;
}
.consultationPic{
border-radius: 10%;
  width: 20%;
  height: auto;
  float: left;
  margin-right: 30px;
    margin-top:  100px;
}
.h5{
  padding-top: 100px;
}
.slide{
width:100%;
padding-bottom: 30px;
}
.servicesButton{
  text-align: center;
  margin-bottom: 50px;
}
.aboutCeo{
  font-family: "Montserrat";
  font-weight:normal;

}
#image{
  width: 200px;
  height: auto;
  float: right;
  /* margin-right: 20px;
  margin-bottom: 40px;  */
}
#logo{
    float: right;
    width: 500px;
    height: 500px;
}


.Aboutdiv{
  margin: 20px;
  text-align: left;
}
.aboutCompany{
  text-align: left;
padding: 50px 0 20px 0;
}

.img-fluid{
  width: 50%;
}
footer{
  text-align: center;
  font-family: Montserrat;
  margin: 50px 0 0 0  ;
  font-size: 0.7rem;
}

@media (max-width:1023px){
    header{
        padding: 10px 20px;
    }
#logo{
  width:100px;
  height: auto;
}
#image{
  width:100px;
  height: auto;
}
    .navigation a{
        padding-left: 20px;;
    }
